.root {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica";
	-fx-base: white;
	-fx-background-image: url("CityChooser.png");
	-fx-background-repeat: stretch;
	-fx-background-size: cover;
	-fx-focus-color: transparent;
}

.background {
	-fx-background-color: lightgrey;
}

.label {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: black;
	-fx-opacity: 0.6;
}

.button {
	-fx-text-fill: white;
	-fx-background-radius: 5;
	-fx-background-color: transparent;
	-fx-border-width: 2;
	-fx-border-radius: 5;	
	-fx-border-color: #A7EBBF;
}


.button:hover {
	-fx-border-radius: 5;
	-fx-background-color: #A7EBBF;	
}

.borderless-button {
	-fx-border-color: transparent;
}

.text-field {
	-fx-pref-width: 200;
}

.choice-box {
	-fx-background-radius: 5;
	-fx-background-color: lightgrey;
	-fx-border-width: 2;
	-fx-border-radius: 5;	
	-fx-border-color: #A7EBBF;
}

.choice-box .label {
	-fx-font-size: 11pt;
	-fx-text-fill: white;
	-fx-alignment: CENTER;
}

.choice-box .context-menu {
	-fx-background-radius: 5;
	-fx-background-color: lightgrey;
	-fx-border-width: 2;
	-fx-border-radius: 5;	
	-fx-border-color: #A7EBBF;
	-fx-arrow-color: transparent;
	-fx-alignment: CENTER;
}

.table-view {
	-fx-base: white;
	-fx-control-inner-background: white;
	-fx-control-inner-background-alt: white;
	-fx-table-header-border-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-row-cell {
	-fx-cell-size: 50px;
	-fx-cell-label-alignment: center;
}

.table-view .column-header-background {
	-fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
	-fx-size: 35;
	-fx-background-color: white;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: transparent transparent black transparent;
	-fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
	-fx-font-size: 11pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: black;
	-fx-alignment: center;
	-fx-opacity: 1;
}

.table-view .table-column {
	-fx-alignment: center;
}



/* Panes */
.start-pane {
	-fx-spacing: 75;
}

.start-pane .label {
	-fx-font-size: 24pt;
	-fx-text-fill: white;
}

.start-pane .choice-box {
	-fx-background-color: transparent;
}

.start-pane .choice-box .label {
	-fx-font-size: 14pt;
	-fx-text-fill: white;
}


/*.filter {
	-fx-background-image: url("FilterBase.png");
	-fx-background-repeat: stretch;
	-fx-background-size: cover;
}*/

.filter .choice-box {
	-fx-background-color: transparent;
}

.member-box {
	-fx-padding: 10;
	-fx-spacing: 10;
	-fx-hgap: 30;
	-fx-vgap: 3;
}

.member-box .text-field {
	-fx-pref-width: 150;
}




/* HBox class */
.hbox {
	-fx-background-color: transparent;
	-fx-padding: 50;
}


.hbox .label {
	-fx-font-size: 11pt;
	-fx-text-fill: black;
}




/* VBox class */
.vbox {
	-fx-spacing: 50;
}

.vbox .label {
	-fx-font-size: 20pt;
	-fx-alignment: center;
}



/* GridPane class */
.outer-box {
	-fx-alignment: center;
}

.outer-box .button {
	-fx-alignment: center;
}

.inner-box {
	-fx-alignment: center-left;
	-fx-background-color: white;
}





.header {
	-fx-background-color: white;
	-fx-alignment: center-left;
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #A7EBBF;
}


.header .backbutton {
	-fx-font-size: 100pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #A7EBBF;
}

.header .beeadopted {
	-fx-font-size: 50pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #A7EBBF;
}

